.Footer{
    background-color: #172337;
    display: flex;
    color: white;
    justify-content: space-between;

    width: 100%;
   
   
}
.FooterObjectTitle{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #b0b0b0;
}

.FooterLeft{
    flex: 3;

    margin: 32px;
    padding-right: 32px;
   display: flex;
   width: 100%;
   justify-content: space-between;  
   border-right: 1px solid #b0b0b0;
}
.FooterObject{
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
}
.FooterObjectLink{
    font-size: 12px;
}
.FooterRight{
    flex: 2;
    margin: 32px;

    display: flex;
    justify-content: flex-start;
    gap: 32px;
}

.FooterRight p{
    text-align: left;
    font-size: 10px;
 
}