
 


.subCategory{
   
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    padding: 16px;
    align-items: center;

   
}

.subCategoryDesc{
color: green;
width: max-content;
font-size: 14px;
}

.subCategoryName{
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0px;
}
.subCategoryCompany{
    width: max-content;
    font-size: 14px;
    color: grey;
    margin: 8px 0px;
}
.categoryDesc{
    /* width: max-content; */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    font-size: 32px;
    

}


.container{
    /* max-width: 1200px; */
    width: 95%;

}
.category-display{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
}
.slider-wrapper .product-list{
display: grid;
grid-template-columns: repeat(10,1fr);
gap: 18px;
font-size: 0;
overflow-x: auto;
scrollbar-width: none;
}
.slider-wrapper{
    position: relative;

}
.slider-wrapper .product-list::-webkit-scrollbar{
    display: none;
}

.slider-wrapper .product-list .subCategory{
    width: 240px;
    height: 360px;
    object-fit: cover;
    background-color: white;
   
}
.slider-wrapper .slide-button{
    height: 60px;
    width: 40px;
    color: black;
    background-color: white;
    border: 1px solid black;    
    font-size: 2.2rem;
   cursor: pointer  ;
   border-radius: 4px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}
.slider-wrapper .slide-button#prev-slide{
    left: -20px;
}
.slider-wrapper .slide-button#next-slide{
    right: -20px;
}
.subCategory img{
    padding: 8px;
    height: 200px;
    object-fit: contain;
}