.NavBar{
    /* margin-left: 128px; */
    justify-content: space-evenly;
    background-color: #2874F0;
    align-items: center;
    position:fixed;
    display: flex;
    width: 100svw;
    padding-right: 128px;
    z-index: 2; 
   /* flex:1; */
}
.NavBar a{
    text-decoration: none;
    padding: 16px;
    font-size: 18px;
    color: white;
    flex: 1;
}
.logo{
    flex: 2;
    font-size: 24px;
    /* font-weight: bold; */
    color: white;
    text-decoration: none;
    /* padding: 16px; */
    text-align: end;
}
#search{
    /* flex: 1.25; */
    flex-grow: 2;
    padding: 12px;
    margin: 8px;
    padding-right: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
  background-size: 24px;
  background-color: white;
  background-position: 98%;
    border: none;
    /* border-radius: 2px; */

    
}
#search:focus{
    outline: none;
}
#login{
    background-color: white;
    color:#2874F0 ;
    text-align: center;
    font-weight: 500;
    /* margin: 16px 8px; */
    /* height: min-content; */
    padding: 4px 6px;
}
#cartdiv{
    flex:1;
    flex-shrink: 1;
    flex-grow: 3;
    display: flex;
    justify-content: flex-start;
}
#cart{
    height: 18px;
}
#seller{
    flex: 1;
    
}