
.offerImg{
    /* width:285% ; */
    width: 94vw;
    object-fit: cover;
   
}


.slider-wrapper .offers-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 18px; */
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    }
.slider-wrapper{
        position: relative;
    
    }
.slider-wrapper .offers-list::-webkit-scrollbar{
        display: none;
    }
    