.offersList{

display: flex;
width: 300%; 
align-items: flex-start;
position: relative;
/* transform: translateX(-50%); */

/* flex-wrap: nowrap; */
}
.banner{
    margin-top: 16px;
    position: relative;
}
.offerImg{
    width: 100%;
    height: 100%;
}
.offers{
    
    overflow: hidden;
    
}
.controls{
   position: absolute;
   width: 100%;
   top: 50%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.lr img{
    height: 36px;
    padding: 6px;
    
}
#left img{
    transform: rotate(180deg);
}
.lr{
    margin : 0px 4px;
    display: flex;
    
    align-items: center;
    position: relative;
    top:-40px;
    border: none;
    /* top: 20px; */
    /* z-index: 1; */
    /* width: 32px; */
    height: 80px;
    
    font-weight: 800;

    background-color: white;

}

